@model UserUpdateModel
@{
    ViewData["Title"] = "Update";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">

        <form id="UpdateForm" asp-controller="Account" asp-action="Update" method="post" asp-antiforgery="true" enctype="multipart/form-data">

            <h2>Create a new account.</h2>
            <hr />
            <input type="hidden" asp-for="@Model.Captcha" id="captchaInput" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.ProfilePictureFile" type="file" class="form-control" aria-required="true" />
                <label asp-for="@Model.ProfilePictureFile" class="form-label">Profile Picture</label>
            </div>


            <div class="form-floating mb-3">
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
                <label asp-for="@Model.FirstName">First Name</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" placeholder="Last Name" />
                <label asp-for="@Model.LastName">Last Name</label>
            </div>

            <div class="form-floating mb-3">
                <input hidden asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" readonly /> 
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" placeholder="Phone Number" />
                <label asp-for="@Model.PhoneNumber">Phone Number</label>
            </div>

            <button id="UpdateSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_CaptchaScriptsPartial" />
}