@using Stackoverflow.Domain.Entities
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Post[]
@{
    ViewData["Title"] = "Search results";
}
<h1>Search results</h1>

<p>Your search query: @ViewBag.SearchString</p>


@foreach (var post in Model)
{
    <div>
        <h2>@post.Title</h2>
        <div class="row pl-2 my-3">
            <p class="text-secondary lh-sm">@Html.Raw(post.Body)</p>
        </div>
        <p>Created on: @post.CreationDate</p>
        <a asp-action="Details" asp-route-id="@post.Id">Details</a> <!-- Add Details button -->
    </div>
}
